body{
    background-color: #1F2937;
        height: 100vh;
        margin: 0;
        font-family: Roboto, sans-serif;
}

.header{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    display: flex;
}
.arriba{
    display: flex;
    justify-content: space-around;
    padding: 16px;

}
ul{
display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap:12px
}
a , p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}

.arribaderecha{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;

}
.imagen{
    width: 400px;
    height: 200px;
    display: flex;
    background-color: #6c6d6e;
    border-radius: 15px;
    flex-shrink: 0;
}
button{
    background: #3882F6;
    border: none;
    border-radius: 8px;
    display: flex;
    padding: 8px 16px;
    margin-right: auto;
    flex-basis: auto;
    color: white;
    cursor:pointer
}
.importantes{
    display: flex;
    justify-content: center;
    align-items:baseline;  
    padding: 16px;
    gap:12px;
    flex-wrap: wrap;

}
.subsection.header{
    max-width: 300px;
}
.subsection{
    width: 550px;
}
.texto3{
    background-color: white;
}
.container {
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 200px;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .texto {
    max-width: 200px;
    text-align: center;
  }
  .img2{
    display: flex;
    width: 100px;
    height: 100px;
    border: 5px solid blue;
    border-radius: 10px;
    flex-shrink: 0;
    margin: auto;
  }
  .titulo2{
     text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 40px;
  }
  .titulo2{
    display: flex;
color: #2b313d;
justify-content: center;
padding: 12px;
  }
  .parte4{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.text4{
    color: #1F2937;
    width: 70%;
    font-size: 36px;
    font-style: italic;
    padding: 0 5.1em;
    max-width: 800px;
}
.textoabajo4{
    color:#1F2937;
    padding-bottom: 1em;
    letter-spacing: 0.07em;
    text-align:end;
    font-weight: bold;
    font-size: 36px;
    width: 69%;
    padding: 0 5.1em;
}
.parte5{
    height: 140px;
    display: flex;
    background-color: #fefeff;
    justify-content: center;
    padding: 60px;
}
.texto5{
    display: flex;
    color: #E5E7EB;
    width: 900px;
    background-color:#3882F6;
    padding:26px;
    border-radius: 8px;
    flex-shrink: 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boton2{
    border: 2px solid #ecf0ee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subsection.header2{
    max-width: 500px;
    font-size: 25px;
    flex-shrink: 0;
    margin: auto;
    align-items: flex-start;
}
.footer{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}